html {
	height: 100%;
}

body {
	background: rgba(0, 0, 0, 0.31);
	min-height: 100%;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow: hidden;
}

[hidden],
.hidden {
	display: none !important;
}

* {
	outline: none;
	box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#root {
	display: flex;
	height: 100vh;
	min-width: 100vw;
}

.settingsPage {
	background-color: rgba(31, 31, 31, 0.99);
	padding: 2rem;
	width: 26rem;
	height: 100vh;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;

	> * {
		margin-bottom: 1rem;
		vertical-align: middle;
	}

	input {
		width: 100%;
		height: 3rem;
		background: transparent;
		color: whitesmoke;
		font-size: 1.5rem;
		border: 0;
		vertical-align: middle;
	}
}

.bar {
	display: flex;
	width: 3rem;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	justify-content: center;
	user-select: none;
	flex-direction: column;
	padding: 1rem 0;
	z-index: 99;

	i {
		color: white;
		padding: calc((3rem - 24px) / 2);
		cursor: pointer;
	}

	.bottom {
		margin-top: auto;
	}

	.list > img {
		width: 3rem;
		padding: 0.5rem;
		background-color: rgba(255, 255, 255, 0.05);

		&.active {
			background-color: rgba(255, 255, 255, 0.31);
		}
	}
}

.display {
	width: calc(100% - 6rem);
}

.services,
.zones {
	display: flex;
	height: 100%;
	width: 100%;
	position: relative;
}

.zones {
	> .bar {
		position: absolute;
		right: 0;

		.list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: rgba(255, 255, 255, 0.05);

			.active {
				background-color: rgba(255, 255, 255, 0.31);
			}
		}
	}

	> .view {
		position: absolute;
		right: -26rem;
		transition: 0.2s;
		transform: translateX(0);

		&.active {
			transform: translateX(-29rem);
		}
	}

	> .services {
		> .view {
			position: absolute;
			left: -26rem;
			transition: 0.2s;
			transform: translateX(0);

			&.active {
				transform: translateX(29rem);
			}
		}
	}
}

webview {
	width: 100%;
	height: 100%;
}
